*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  box-sizing: border-box; }
