/*
0 - 600px       --- Phone
600px - 900px   --- Tablet Portrait
900px - 1200px  --- Tablet Landscape
1200px - 1800px --- Normal desktop
1800px +        --- Big screen desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.body {
  box-sizing: border-box; }

.section {
  padding: 8rem 2rem 12rem; }
  .section__underline {
    background: #999;
    border: none;
    height: 4px;
    margin: .8rem auto 2rem;
    width: 9rem; }

.body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

.button {
  text-decoration: none;
  text-transform: uppercase; }

.navigation {
  text-align: left; }

.section {
  text-align: center; }
  .section__heading {
    font-size: 3.8rem;
    letter-spacing: .5rem;
    text-transform: uppercase; }
  .section__text {
    margin: 0 auto 8rem;
    width: 45%; }

.small-heading {
  font-size: 2.3rem;
  letter-spacing: .1rem;
  margin: 2rem 0;
  text-transform: uppercase; }

.team-member__name {
  margin-bottom: .3rem; }

.team-member__title {
  color: #30bae7;
  font-weight: normal;
  margin: 0 auto 2rem; }

.team-member__description {
  margin: 0 auto 2rem; }

.skill__heading {
  margin-top: 0; }

.button {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 1.7rem 5.5rem; }
  .button--orange {
    background-color: #eb7d4b;
    border-bottom: 4px solid #c86a40; }
  .button--green {
    background-color: #17c2a4;
    border-bottom: 4px solid #14a58c;
    margin-top: 10rem; }
  .button--blue {
    background-color: #30bae7;
    border-bottom: 4px solid #299ec5; }

.navigation-list {
  display: flex;
  list-style: none; }
  .navigation-list__item {
    margin: 0 2.2rem; }
  .navigation-list__link {
    text-decoration: none; }
  .navigation-list--main {
    justify-content: flex-end; }

.header {
  background-color: #87509c;
  color: #f7f3ea;
  padding: 3rem 2rem 16rem;
  text-align: center; }
  .header__heading {
    margin: 12rem 0 6rem;
    width: 90%; }

.logo-box {
  display: flex;
  justify-content: flex-start; }

.col-4-grid {
  display: grid;
  grid: auto/repeat(4, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .col-4-grid {
      grid: auto/repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .col-4-grid {
      grid: auto / 1fr; } }

.col-2-grid {
  display: grid;
  grid: auto/repeat(2, 1fr);
  grid-gap: 2rem; }

.services-section {
  background-color: #17c2a4;
  color: #fff; }

.team-section {
  background-color: #e7f1f8;
  color: #3c4761; }

.social-buttons {
  display: flex;
  list-style: none;
  justify-content: center; }
  .social-buttons__item {
    margin: 0 .4rem; }

.skills-section {
  color: #3c4761; }

.portfolio-section {
  background-color: #ffdd99;
  color: #393939; }

.project__image {
  width: 100%; }

.testimonials-section {
  background-color: #d74680;
  color: #fff; }

.contact-section {
  background-color: #3c5499;
  color: #fff; }

.footer {
  background-color: #344b8e;
  color: #fff;
  text-align: center; }
