// Colours
$color-purple: #87509c;
$color-purple-dark: #643a79;

$color-green: #17c2a4;
$color-green-dark: #14a58c;

$color-pale-blue: #e7f1f8;
$color-pale-blue-2: #c8d9e5;
$color-pale-blue-light-1: #30bae7; 
$color-pale-blue-light-2: #299ec5;
$color-pale-blue-dark-2: #3c4761;

$color-white-dark-1: #dfe8ed; // used for heading underline border

$color-yellow: #ffdd99;
$color-yellow-dark: #ebc985;
$color-black-light: #393939; // used for text on yellow section

$color-pink: #d74680;
$color-pink-dark: #b73c6d;

$color-blue: #3c5499;
$color-blue-dark-1: #344b8e;
$color-blue-dark-2: #273a71;

$color-red: #ff4444;

$color-white: #fff;
$color-black: #000;

$color-white-dark-2: #f7f3ea; // used for text on purple section

