.header {
    background-color: $color-purple;
    color: $color-white-dark-2;
    padding: 3rem 2rem 16rem;
    text-align: center;

    &__heading {
        margin: 12rem auto 6rem; 
        width: 90%;
    }
}

.logo-box {
    display: flex;
    justify-content: flex-start; 
}

.menu-icon {
    display: none;

    @include respond(phone) {
        display: block;
    }
}