.portfolio-section {
    background-color: $color-yellow;
    color: $color-black-light;

    &__underline {
        background: $color-yellow-dark;
    }
}

.project {
    &__image {
        width: 100%;
    }
}