.testimonials-section {
    background-color: $color-pink;
    color: $color-white;

    &__underline {
        background: $color-pink-dark; 
    }
}

.testimonial-card {
    display: grid;
    grid: auto / repeat(2, 1fr);

    @include respond(phone) {
        grid: auto / 1fr;
    }
}

.testimonial {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: flex-start;
    text-align: left; 

    @include respond(phone) {
        align-items: center; 
    }

    &__image {
        width: 42%;
        
        @include respond(tablet-portrait) {
            width: 60%;
        }

        @include respond(phone) {
            width: 50%; 
        }
    }
}