.button {
    border-radius: 3px;
    color: $color-white;
    display: inline-block; 
    letter-spacing: .025rem; 
    padding: 1.7rem 5.5rem;
    text-transform: uppercase; 

    &--orange {
        background-color: $color-orange;
        border-bottom: 4px solid $color-orange-dark;
    }

    &--green {
        background-color: $color-green;
        border-bottom: 4px solid $color-green-dark;
        margin-top: 10rem;
    }

    &--blue {
        background-color: $color-pale-blue-light-1;
        border-bottom: 4px solid $color-pale-blue-light-2;
        border-top: none;
        border-right: none;
        border-left: none;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit; 
    }
}