.button {
    border-radius: 3px;
    color: $color-white;
    display: inline-block;  
    padding: 1.7rem 5.5rem; 

    &--orange {
        background-color: $color-orange;
        border-bottom: 4px solid $color-orange-dark;
    }

    &--green {
        background-color: $color-green;
        border-bottom: 4px solid $color-green-dark;
    }
}