.navigation-list {

    display: flex;
    list-style: none;

    &__item {
        margin: 0 2.2rem;
    }

    &__link {
        text-decoration: none;

        &:link,
        &:visited {
            color: $color-white;
        }
    }
}

.navigation-main {
    justify-content: flex-end; 

    @include respond(phone) {
        flex-direction: column;
        align-items: flex-end;         
    }
}

.navigation-portfolio {
    justify-content: center;

    &__item {
        margin: 0 .6rem; 
    }

    &__link {
        border-radius: 4px;
        display:block;
        padding: 1rem 2.5rem;

        &:link,
        &:visited {
            background: $color-yellow-dark;
            color: $color-black-light;
        }

        &:hover,
        &:active {
            background: $color-white;
        }
    }
}

.navigation-footer {
    justify-content: center;

    @include respond(phone) {
        flex-wrap: wrap;
    }
}