// Reset
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines what 1 rem is
    font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
}

body {
    font-family: $default-font;
    font-size: 1.8rem;
    font-weight: 400;
    box-sizing: border-box;
}