// Reset
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines what 1 rem is
    font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
}

.body {
    box-sizing: border-box;  
}

.section {
    padding: 8rem 2rem 12rem; 

    &__underline {
        background: $color-grey; 
        border: none;
        height: 4px;
        margin: .8rem auto 2rem;  
        width: 9rem;
    }
}