.body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;    
}

.button {
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-portfolio {
    margin-bottom: 6rem;

    &__item {

    }

    &__link {
        text-transform: uppercase; 
    }
}

.project {
    &__heading {
        font-weight: 400;
        text-transform: uppercase;
    }
}

.section {
    text-align: center; 

    &__heading {
        font-size: 3.8rem;
        letter-spacing: .5rem;
        text-transform: uppercase;
    }

    &__text {
        margin: 0 auto 8rem;
        width: 45%;

        @include respond(phone) {
            width: 60%;
        }
    }
}

.team-member {
    &__name {
        font-size: 2.3rem;
        line-height: 2.3rem;
        margin: 2rem 0 .3rem; 
        text-transform: uppercase; 
    }

    &__title {
        color: $color-pale-blue-light-1;
        font-weight: normal;
        margin: 0 auto 2rem;
    }

    &__description {
        margin: 0 auto 2rem;
    }
}

.skill {
    &__heading {
        margin-top: 0;  
    }
}

.testimonial {
    &__text {
        font-style: italic;

        @include respond(phone) {
            width: 80%; 
        }
    }

    &__heading {
        font-size: 2.3rem;
        line-height: 2.3rem;
        margin: 2rem 0 0; 
        text-transform: uppercase;         
    }

    &__title {
        color: $color-yellow;
        font-weight: normal;
    }
}

.contact-form {

    &__label {

    }

    &__input {
        font-size: 1.8rem;
        font-family: 'Titillium Web', sans-serif;
    }

    &__textarea {
        font-size: 1.8rem;
        font-family: 'Titillium Web', sans-serif;
    }
}

