.body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;    
}

.button {
    text-decoration: none;
    text-transform: uppercase;
}

.navigation {
    text-align: left;
}

.section {
    text-align: center; 
}
